p{
    width: 400px; color: rgb(41, 91, 39);
    text-indent: 30px;
    line-height: 30px;
    text-indent: 30px;

}


h1{
    width: 400px;
    
    font-size: 20px;

    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
    
    
} 

h2{
    width: 400px;
    
    font-size: 15px;

    text-align: justify;
    line-height: 30px;
    text-indent: 30px;
    
    
} 


